

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Casa museo de José Alfredo Jiménez</h2>
            <a class="btn btn-info btn-lg" href="/informa/inf">Volver</a>
    </div>
    <div class="col-sm-4">
      <img src="<%=asset_path'j5.jpg'%>" >
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="<%=asset_path'j11.jpg'%>" >
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Casa museo de José Alfredo Jiménez</h2><br>
      <h4><strong>Historia</strong><br>
      	<br>

Ubicada a solo una cuadra de la plaza principal de la ciudad, la casa natal de José Alfredo, edificada a mediados del siglo XIX, fue una de las primeras construcciones señoriales de la población, en la zona que desde julio de 1982 está declarada monumento histórico. Se trata de una bella y típica casa provinciana con habitaciones dispuestas alrededor de un amplio patio central, una huerta de naranjos en la parte posterior y al fondo, otra huerta más íntima y casi secreta. 
<br>
Su construcción es de sólidos muros de adobe y techos altos con vigas de madera, con los vanos de las puertas y ventanas enmarcados con cantera y cornisas decoradas.
<br>
A la muerte del padre de José Alfredo, su madre se vió obligada a vender la casa que pasó por varios dueños. Los diversos intentos que José Alfredo hizo en vida para readquirir la propiedad no tuvieron resultados, pero en 1998 su familia logró comprarla y al poco tiempo, bajo la coordinación general de su hija Paloma Jiménez Gálvez, se iniciaron los trabajos para convertirla en un recinto dedicado a su memoria.
<br>
La restauración del inmueble para devolverle sus características originales, fue proyectada por el Arq. Enrique Arellano y realizada por Arq. Alan Wilkerson.



       
<br><br>

</h4>      
      
    </div>
  </div>
</div>
</center>
