

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Mausoleo de José Alfredo Jiménez</h2>
            <a class="btn btn-info btn-lg" href="/informa/inf">Volver</a>
    </div>
    <div class="col-sm-4">
      <img src="<%=asset_path'j2.jpg'%>" >
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="<%=asset_path'j6.jpg'%>" >
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Mausoleo de José Alfredo Jiménez</h2><br>
      <h4><strong>Historia</strong><br>
      	<br>

       En el Mausoleo de José Alfredo Jímenez descansan los restos del famoso cantautor.
Fue erigido el 23 de noviembre de 1998 para conmemorar su XXV aniversario de su fallecimiento.
<br>
Consiste en un gigantesco sombrero, en la parte inferior un pebetero y en las letras de ronce el epitafio: “La vida no vale nada”.
Emerge de manera sinuosa, un sarape multicolor hecho en azulejo de Dolores Hidalgo, en cuyo cuerpo están incrustados los títulos de diversas canciones de su obra musical. El autor del proyecto es el reconocido Arq. Javier Senosiain, esposo de Paloma Jiménez Gálvez.<br>
<br> 
Es un mausoleo digno de visitarse.
<br>
La Casa de José Alfredo Jímenez se ubica en la Av. Guanajuato No. 11 y fue propiedad de Don Agustín Jiménez Tristán, farmacéutico de profesión, quien estableció en el año de 1900 la botica "San Vicente", primera en su género en la Ciudad. Aquí nació el 19 de Enero de 1926, el gran compositor dolorense José Alfredo Jiménez. Se localiza frente a las escuelas del Centenario, donde José Alfredo cursó sus estudios de primaria.


</h4>      
      
    </div>
  </div>
</div>
</center>



