
<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Casa museo de Miguel Hidalgo</h2>
            <a class="btn btn-info btn-lg" href="/informa/inf">Volver</a>
    </div>
    <div class="col-sm-4">
      <img src="<%=asset_path'j3.jpg'%>" >
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="<%=asset_path'j8.jpeg'%>" >
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Casa museo de Miguel Hidalgo</h2><br>
      <h4><strong>Historia</strong><br>
      	<br>

       La Casa Museo de Hidalgo Antigua y bella casona de finales del siglo XVIII, con un encantador patio en cuyo alrededor se disponen las habitaciones de la que fuera la morada de Miguel Hidalgo durante su estancia en esta población.<br><br>
En los aposentos se recreó el ambiente y mobiliario de la época como escenario para algunos de los objetos personales del prócer y documentos de la Guerra de Independencia (vestimentas sacerdotales, un estandarte de la Virgen de Guadalupe, el primer bando de abolición de la esclavitud y una urna funeraria con los restos de Hidalgo).
<br><br>

</h4>      
      
    </div>
  </div>
</div>
</center>
