
<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Parroquia de nuestra señora de dolores</h2>
            <a class="btn btn-info btn-lg" href="/informa/inf">Volver</a>
    </div>
    <div class="col-sm-4">
      <img src="<%=asset_path'j1.jpg'%>" >
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="<%=asset_path'j7.jpg'%>" >
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Parroquia de nuestra señora de dolores</h2><br>
      <h4><strong>Historia</strong><br>
      	<br>

       Por su bella fachada, concluida en 1778, este templo esta considerado como uno de los mejores ejemplos del barroco novohispano de finales del siglo XVIII.
       <br><br>

Son notables la concha que remata el arco de acceso y los tres pares de estípítes a los lados de la puerta, principalmente los de los extremos que incorporan nichos y esculturas.
<br><br>
El segundo cuerpo de la portada muestra una imagen central que remata el conjunto: una Crucifixión, bajo la cual se encuentra la Virgen, en su representación de la Dolorosa, la patrona del lugar.
<br><br>
Las torres laterales realzan la belleza del conjunto debido a que sus tres cuerpos disminuyen en tamaño en forma ascendente. En el interior del templo se conservan en el crucero dos bellos retablos de estilo barroco estípite, el de la derecha dedicado a la Virgen de Guadalupe y el de enfrente a San José, que tiene la peculiaridad de no estar dorado, por lo que puede verse la excelente talla en madera.
<br><br>
Se localiza frente a la Plaza Principal de Dolores Hidalgo.
<br><br>

</h4>      
      
    </div>
  </div>
</div>
</center>
