
<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Casa de visitas de Dolores Hidalgo</h2>
            <a class="btn btn-info btn-lg" href="/informa/inf">Volver</a>
    </div>
    <div class="col-sm-4">
      <img src="<%=asset_path'j4.jpg'%>" >
    </div>
  </div>
</div>
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="<%=asset_path'j10.jpg'%>" align="left">
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Casa de visitas de Dolores Hidalgo</h2><br>
      <h4 ><strong>Historia</strong><br>
      	<br>
        <p  ALIGN=right>
      	La Casa de Visitas es una casona señorial de finales del siglo XVIII que perteneció <br>
        a don Nicolás Fernández del Rincón. Posee una bella fachada de estilo barroco 
        <br>en la que resaltan en el primer nivel seis arcos lobulados,<br>
         balcones rematados por copetes y una elaborada cornisa adornada con una cruz.<br>
      	<br>
Situado en el costado suroeste de la Plaza Principal, este inmueble fue <br>construido por don Juan Mercado en 1786, para domiciliar a los primeros subdelegados <br>políticos de la Congregación de Nuestra Sra. De los Dolores. <br>Durante el movimiento de Independencia de 1810, era habitado por el Subdelegado <br>español Don Nicolás Fernández del Rincón y el colector de Diezmos<br> Don Ignacio Díaz de la Cortina, aprehendidos por los capitanes Allende y Aldama. <br><br>
En el año de 1940 el Gobierno del Estado lo adquirió para alojar a los visitantes distinguidos.
</p>





       
<br><br>

</h4>      
      
    </div>
  </div>
</div>
</center>

